<section class="container">
  <h2>Privacy Policy</h2>
  <div class="results">
    <p>At www.FindWine.us, the privacy of our visitors is of extreme importance to us. This privacy policy document outlines the types of personal information is received and collected by www.FindWine.us and how it is used. Log Files Like many other Web sites, www.FindWine.us makes use of log files. The information inside the log files includes internet protocol ( IP ) addresses, type of browser, Internet Service Provider ( ISP ), date/time stamp, referring/exit pages, and number of clicks to analyze trends, administer the site, track user's movement around the site, and gather demographic information. IP addresses, and other such information are not linked to any information that is personally identifiable.</p>

    <p>Cookies and Web Beacons<br />
      www.FindWine.us does not use cookies. DoubleClick DART Cookie Google, as a third party vendor, uses cookies to serve ads on www.FindWine.us. Google's use of the DART cookie enables it to serve ads to users based on their visit to www.FindWine.us and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at the following URL - http://www.google.com/privacy_ads.html. Some of our advertising partners may use cookies and web beacons on our site. Our advertising partners include: Commission Junction, Geico Insurance, Bike Bandit and other online retailers.</p>

    <p>These third-party ad servers or ad networks use technology to the advertisements and links that appear on www.FindWine.us send directly to your browsers. They automatically receive your IP address when this occurs. Other technologies ( such as cookies, JavaScript, or Web Beacons ) may also be used by the third-party ad networks to measure the effectiveness of their advertisements and / or to personalize the advertising content that you see.</p>
    <p>www.FindWine.us has no access to or control over these cookies that are used by third-party advertisers.</p>
    <p>You should consult the respective privacy policies of these third-party ad servers for more detailed information on their practices as well as for instructions about how to opt-out of certain practices. www.FindWine.us's privacy policy does not apply to, and we cannot control the activities of, such other advertisers or web sites.</p>
    <p>If you wish to disable cookies, you may do so through your individual browser options. More detailed information about cookie management with specific web browsers can be found at the browsers' respective websites.</p>
    <p>FindWine.us does not have control over information you provide to third party sites linking from FindWine.us, including FindWine.us affiliates.</p>
    <p>If you require any more information or have any questions about our privacy policy, please feel free to contact FindWine.us.</p>
  </div>
</section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-3843278-41', 'auto');
    ga('send', 'pageview');

  </script>
