<section class="container">
  <h2>Browse popular California Sauvignon Blanc wines below:</h2>
  <div class="results">
    <div class="results-loader">
      <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x80_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
      <span></span>
    </div>
    <div class="results-wine">Search powered by: <span></span></div>
    <div class="results-content" ng-bind-html="results"></div>
  </div>
</section>
